@import "tailwindcss";

:root {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg: #FFFFFF;
  --dark: #2B2A28;
  --accent: #ED691F;
  --muted: #6b6b6b;

  color-scheme: light dark;
  color: var(--dark);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

